body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.wrapper-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'content' 'about-us' 'contact' 'footer';
}

/* HERD */
#header{
    grid-area: header;
    height: 500px;
    background: url('../img/header.png'), radial-gradient(ellipse at center, #bebebe 0%,#5f5f5f 100%);
    background-position: 95% center; 
    background-size: contain; 
    background-repeat: no-repeat; 
    display: grid;
    grid-template: 100px 1fr / 1fr;
}

#nav{
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
}
#nav img{
    margin: 10px 50px;
    width: 100px;
    opacity: 0.9;
}
#nav ul{
    display: flex;
    align-items: center;
}
#nav ul li{
    padding: 10px 15px;
    font-weight: 600;
    text-transform: uppercase;
    list-style: none;
    color: #fff;
    border: 2px solid transparent;
}
#nav ul li:hover{
    color: #565656;
    border-color: #565656;
}

#logo:hover{
    transition: 0.5s;
    transform: scale(1.03);
}

#header-content {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
}
#header-content h2{
    margin: 0;
    font-weight: 600;
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
}
#header-content p{
    margin: 5px 3px;
    font-weight: 400;
    font-size: 18px;
    text-transform: lowercase;
    color: #565656;
}


/* CONTENT */
#content{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 500px;
    transition: 0.5s;
}
.content-inner p, 
.content-inner h3{
    margin: 0;
    color: #fff; 
}
.content-inner h3{
    font-size: 28px;
    color: #181818;
}
.content-inner p{
    margin-bottom: 110px;
    padding: 35px 5%;
    font-size: 18px;
    color: #565656
}
    /* icon */
#content-1,
#content-3,
#content-5,
#content-7,
#content-9,
#content-11,
#content-13{
    background-position: center 20%;
    background-size: 15%;
    background-repeat: no-repeat;
}

    /* pictures */
#content-2,
#content-4,
#content-6,
#content-8,
#content-10,
#content-12{
    opacity: 0.85;
    background-size: cover;
    background-repeat: no-repeat;
}
#content-2::before,
#content-4::before,
#content-6::before,
#content-8::before,
#content-10::before,
#content-12::before{
    content: 'Lorem Ipsum';
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 5%;
    height: 100%;
    opacity: 0;
    transition: 1s 0.5s;
    border-bottom: 30px solid #181818;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    text-align: right;
    text-shadow: 3px 1px 5px #181818;
}
#content-2:hover::before,
#content-4:hover::before,
#content-6:hover::before,
#content-8:hover::before,
#content-10:hover::before,
#content-12:hover::before,
#content-2:hover,
#content-4:hover,
#content-6:hover,
#content-8:hover,
#content-10:hover,
#content-12:hover{
    opacity: 0.95;
}
#content-1{
    background-image: url('../img/icon/like.png');  
}
#content-2{
    background-image: url('../img/man-1.jpg');
    background-position: top;
}
#content-3{
    background-image: url('../img/icon/flash.png');  
}
#content-4{
    background-image: url('../img/girl-1.jpg');
    background-position: center;
}
#content-5{
    background-image: url('../img/icon/idea.png');  
}
#content-6{
    background-image: url('../img/man-2.jpg');
    background-position: center;
}
#content-7{
    background-image: url('../img/icon/search.png');  
}
#content-8{
    background-image: url('../img/girl-2.jpg');
    background-position: bottom;
}
#content-9{
    background-image: url('../img/icon/network.png');  
}
#content-10{
    background-image: url('../img/man-3.jpg');
    background-position: center;
}
#content-11{
    background-image: url('../img/icon/photo-camera.png');  
}
#content-12{
    background-image: url('../img/girl-3.jpg');
    background-position: top;
}

/* ABOUT US */
#about-us{
    grid-area: about-us;
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #181818;
}
#about-us h3{
    margin: 40px 0;
    font-size: 36px;
}

#about-us-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.about-us-container{
    width: 20%;
    transition: 0.5s;
}
.about-us-container:hover{
    color: #ff6347;
    transform: scale(0.95);
}
.about-us-container span{
    font-size: 80px;
}
.about-us-container p{
    font-size: 22px;

}

/* CONTACT */
#contact{
    grid-area: contact;
    width: 40%;
    margin: 40px auto;
}
#contact h3{
    margin: 40px 0;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    color: #181818;
}
#contact form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#contact form input{
    padding: 15px 5px;
    margin: 15px 0;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-align-last: center;
    border-radius: 5px;
    border: 1px solid #181818;
    color: #181818;
    transition: 0.5s;
}
#contact form input::selection{
    color: #fff;
    background: #181818;
}
#contact form input:focus{
    border: 1px solid tomato;
    color: tomato;
}
#contact form input[type=submit]{
    margin: 20px 0 40px 0;
    padding: 20px 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    background-color: #181818;
    border-color: #181818;
}
#contact form input[type=submit]:hover{
    background-color: tomato;
    border-color: tomato;
}

.blink-input{
    background-color: #ffb8af;
}

/* FOOTER */
#footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    height: 120px;
    background-color: #181818;
}
#footer p{
    margin: 3px;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 3px;
}