@media screen and (max-width: 1200px){

    /* HEADER */
    #header{
        background-position: 60% center; 
    }

    #header-content h2,
    #header-content p{
        text-align: center;
        color: #fff;
    }

    #nav ul{
        display: flex;
        justify-content: center;
    }

    /* CONTENT */
    #content{
        grid-template-columns: 1fr 1fr;
    }

        /* icon */
    #content-1,
    #content-5,
    #content-9{
        grid-column: 2;
    }

        /* pictures */
    #content-2,
    #content-6,
    #content-10{
        grid-column: 1;
    }
    #content-2{
        grid-row: 1;
    }
    #content-6{
        grid-row: 3;
    }
    #content-10{
        grid-row: 5;
    }
}

@media screen and (max-width: 800px){

    /* ABOUT US */
    #about-us-wrapper{
        flex-direction: column;
    }
    .about-us-container{
        width: 100%;
        padding-bottom: 20px;
    }

    /* CONTUCT */
    #contact{
        width: 80%;
    }
}
