@media screen and (max-width: 1200px){

    /* HEADER */
    #header{
        background-position: 60% center; 
    }

    #header-content h2,
    #header-content p{
        text-align: center;
        color: #fff;
    }

    #nav ul{
        display: flex;
        justify-content: center;
    }

    /* CONTENT */
    #content{
        grid-template-columns: 1fr 1fr;
    }

        /* icon */
    #content-1,
    #content-5,
    #content-9{
        grid-column: 2;
    }

        /* pictures */
    #content-2,
    #content-6,
    #content-10{
        grid-column: 1;
    }
    #content-2{
        grid-row: 1;
    }
    #content-6{
        grid-row: 3;
    }
    #content-10{
        grid-row: 5;
    }
}

@media screen and (max-width: 800px){
    
    /* HEADER */
    #nav ul{
        display: none;
    }

    #nav-hamburger{
        display: flex;
    }

    /* ABOUT US */
    #about-us-wrapper{
        flex-direction: column;
    }
    
    .about-us-container{
        width: 100%;
        padding-bottom: 20px;
    }

    /* CONTUCT */
    #contact{
        width: 90%;
    }
}

@media screen and (max-width: 600px){

    /* CONTENT */
    #content{
        grid-template-columns: 1fr;
    }

    #content-1,
    #content-2,
    #content-3,
    #content-4,
    #content-5,
    #content-6,
    #content-7,
    #content-8,
    #content-9,
    #content-10,
    #content-11,
    #content-12,
    #content-13{
        grid-column: unset;
        grid-row: unset;
    }

    .content-inner{
        height: 380px;
    }
    .content-inner p{
        margin-bottom: 40px;
    }
}
